<html>
 <head>
  <title>Welcome Tornado</title>
   <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">  
   <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
   <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="{{ static_url('js/jquery.min.js') }}"></script>
  <script src="{{ static_url('js/canvasjs.min.js') }}"></script>
  <script src="{{ static_url('js/jquery.canvasjs.min.js') }}"></script>
  <link href="{{ static_url('css/bootstrap.min.css') }}" rel="stylesheet">
    
<script type="text/javascript">
   var global_st;
   var ws = new WebSocket('ws://192.168.90.75:7777/ws');
   var a = new Array();
 
ws.onopen = function() {
    var status_info = $("#status-info");
	status_info.attr("class","label label-success");
	status_info.text("Connect Success");
};

ws.onmessage = function(ev) {
    var status_info = $("#status-info");
	status_info.attr("class","label label-info");
	status_info.hide();
	status_info.fadeIn("slow");
	status_info.text("Receieved Message");
	var json = JSON.parse(ev.data);
    var length = a.unshift(json);
    if (length == 6){
        a.pop();
    }
    for( var i =0 ; i < length; i++){
        var s = i.toString()

        if (i == 0){
    	$("#username"+ s).hide();
    	$("#username"+ s).fadeIn("slow");
    	$("#userage"+ s).hide();
    	$("#userage"+ s).fadeIn("slow");
        global_st = parseInt(a[i].age);
        }
    	$("#username"+ s).text(a[i].name);

    	$("#userage"+ s).text(a[i].age);

    }

    windows.onload=show(global_st);

};

ws.onclose = function(ev) {
    var status_info = $("#status-info");
	status_info.attr("class", "label label-important");
	status_info.text("Closed");
};

ws.onerror = function(ev) {
    var status_info = $("#status-info");
	$status_info.attr("class", "label label-warning");
	$status_info.text("Error");
};

    window.onload = function(){
        var dps = [];   // dataPoints
        var chart = new CanvasJS.Chart("chartContainer", {
            title: {
                text: "Live Random data!"
            },
            data: [{
                type: "line",
                dataPoints: dps
            }]
    });

    var xVal = 0;
    var yVal = 100;
    var updateInterval = 100;
    var dataLength = 500 ; // number of dataPoints visible at any point
    

    var updateChart = function(count) {
        count = count || 1;
        //count is number of times loop runs to generate random dataPoints.
        for(var j =0; j < count; j++){
            yVal = yVal + Math.round(5 + Math.random() * (-5-5));
            dps.push({
                x : xVal,
                y : yVal
            });
            xVal++;
        };
        if( dps.length > dataLength)
        {
            dps.shift();
        }
    
        chart.render();
    };
    // generate first set of dataPoints
    updateChart(dataLength)
    
    // update chart after specified time
    setInterval(function(){updateChart()}, updateChart);
    }

</script>
</head>

<body>
<div class="container">
 <p>WebSocket Status:<span id="status-info"></span><p>
<hr>
 <div id="chartContainer" style="height: 300px; width: 100%;"></div>
</div>
</body>
</html>
